/Encuentro3/nbproject/private/
/Encuentro3/build/
/Encuentro 4/nbproject/private/
/Encuentro 4/build/
/Dia5ejercicio5/nbproject/private/
/Encuentro5ejercicio5/nbproject/private/
/Encuentro5ejercicio5/build/
/FuncionSwitch/nbproject/private/
/Ejercicioswitch/nbproject/private/
/Ejercicioswitch/build/